
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script src="~/arrowFunction.js"></script>
    <script src="~/Destructuring.js"></script>
    <script src="~/SpreadOperatoru.js"></script>
    <script src="~/forInforOf.js"></script>
</body>
</html>
