
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JavaScript Dahil Etme</title>
 
    
</head>
<body>



    <!-- Ayrica dilersek Js dosyalarimizi ayni CSS te yaptigimiz gibi baska bir sayfada duzenleyip
        asagidaki sekilde cagirabiliriz.-->
    <script src="~/JavaScript.js"></script>
    <!-- Scriptleri genellikle biz sayfanin bitisine yani body bitmeden ekleriz.-->
    <script>

        console.log("Selam Dunya");
    </script>
</body>
</html>
