
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   

    <script src="~/dataTypes.js"></script>
    <script src="~/AritmetikOperator.js"></script>
    <script src="~/MantiksalOperatorler.js"></script>
    <script src="~/KarsilastirmaOperatorleri.js"></script>
</body>
</html>
