
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Javascript Cikti Verme</title>
</head>
<body>
    <script src="~/Selam.js"></script>
</body>
</html>
